{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <header>
            <title>XP Days Top Contributors to this tool</title>
    </header>
    <body>
      <center>
        <div class='header'>
          <a href="https://www.xpday.nl/">XP Days website</a> |
          <a href="{% url 'submit_feedback' %}">Rate a session</a> |
          <a href="{% url 'overview' %}">Overview</a>
          <h1>Top Contributors</h1>
        </div>
        <div class='heroic'>
          {% for person in people %}
            {% if person.contributor %}
              <p>{{ person.fullname }}</p>
            {% endif %}
          {% empty %}
            Sorry, no contributors provided.
          {% endfor %}
        </div>
      </center>
    </body>

{% endblock %}
