{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <header>
            <title>XP Days Session Feedback</title>
    </header>
    <body>
        <center>
            <div class='header'>
                <h1>Session Feedback</h1>
            </div>
            <p>Thank you, your feedback has been saved</p>
            <h1><a href="{% url 'submit_feedback' %}">Rate another session!</a> </h1>
            <p> {{ Session.title }} </p>
			<p>The average rating of this session is: {{ FeedbackAverage|floatformat:2 }}</p>
            {% for feedback in Session.get_ordered_feedback_list %}
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title"> {{ feedback.get_rating_display }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ feedback.comment }}</h6>
                  </div>
                </div>
            {% endfor %}
        </center>
    </body>

{% endblock %}

