{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <header>
            <title>XP Days Overview of feedback</title>
    </header>
    <body>
        <center>
            <div class='header'>
                <a href="https://www.xpday.nl/">XP Days website</a> | 
                <a href="{% url 'submit_feedback' %}">Rate a session</a> |
                <a href="{% url 'contributors' %}">Contributors</a>
                <h1>Overview</h1>
            </div>
            <div>
                <h1><a href="{% url 'submit_feedback' %}">Rate a session</a> </h1>

                <table class="data_table" id='overview'>
                    <thead>
                        <tr>
                            <th>Conference Day</th>
                            <th>Session</th>
                            <th>Rating</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in feedbacks %}
                            <tr>
                                <td>{{f.session.conferenceDay.title}}</td>
                                <td><a href="{% url 'display_feedback' f.session.id %}">{{f.session.title}}</a></td>
                                <td>{{f.rating}}</td>
                                <td>{{f.comment}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </center>
    </body>

{% endblock %}
