{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <header>
        <title>XP Days Session Feedback</title>
    </header>
    <body>
      <center>
        <div class='header'>
          <a href="https://www.xpday.nl/">XP Days website</a> |
          <a href="{% url 'overview' %}">Overview</a> |
          <a href="{% url 'contributors' %}">Contributors</a>
          <h1>What's your feedback on the session?</h1>
        </div>
      </center>
        <div class='wrapper'>
            <div>
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <form>
                    {% csrf_token %}
                    <p>
                        <label>Which session did you attend?</label> </br>
                        <select class='selectValue' name='session' required>
                            <option disabled selected value> -- choose session -- </option>
                            {% for session in Sessions %}
                                <option value='{{ session.id }}'>{{ session.get_title_with_feedback_count }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <label>What did you think about it?</label> </br>
                    <p>
                        <select class='selectValue' name='rating' required>
                            <option disabled selected value> -- rating -- </option>
                            <option value='5'>Amazing!</option>
                            <option value='4'>Great!</option>
                            <option value='3'>Ok</option>
                            <option value='2'>Mwah</option>
                            <option value='1'>Disappointing</option>
                        </select>
                        <textarea name='comment' placeholder="Please provide more details"></textarea>
                    </p>

                    <input type="submit" id='submit' value='Submit' formmethod="post">
                </form>
                <a href="{% url 'overview' %}">Overview of feedback</a>
            </div>

            <div class="statisticsContainer">Feedback has been given {{ FeedbackCount }} times.</div>
            <div class="statisticsContainer">There are {{ SessionWithoutFeedbackCount }} sessions without feedback.</div>
        </div>

    </body>


{% endblock %}
