body {
    background-color: #f3f3f3;
}

h1 {
    color: white;
}

textarea  {
    width: 100%;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    margin-top: 20px;
}

select {
    /*display: none;/*hide original SELECT element:*/
}


#submit {
    background-color: #ed1f26;
    color: white;
    width: 100%;
    padding: 5px;
}

.header {
    background-color: #343334;
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 40px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.heroic {
  width: 80%;
  padding: 20px;
  background-color: red;
  color: white;
  font-size: 24;
}

.formContainer, .statisticsContainer {
    margin: 0 auto;
    text-align: center;
}

.selectValue {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;

}

.messages {
    background-color: #8ABD5F;
}

.statisticsContainer {
    margin-top: 50px;
}
